.home {
	padding: 0 2rem;
	min-height: 100%;
	width: 100%;
}
.label {
    font-size: 0.75rem;
}
.input {
    border: solid 1px #ccc;
    border-radius: 0;
    border-right: none;
    display: block;
    flex: 1;
    margin-right: 0;
    outline: none;
    padding: 0.5rem;
}
.inputContainer {
    display: flex;
    width: 100%;
}
.button {
    background: #108CCF;
    border: none;
    color: #FaFaFa;
    margin-left: 0;
    padding: 0 1rem;
}
.button:disabled {
    background: #ccc;
    color: #333;
}
