.screen {
	padding: 0 2rem;
	min-height: 100%;
	width: 100%;
}
.label {
    font-size: 0.75rem;
}
.input {
    display: block;
}
.inputContainer {
    display: flex;
}
.button {
    background: purple;
    border: none;
    color: white;
}
