.read {
    padding: 1rem;
}
.script {
    margin: 0 0 1rem;
    font-size: 1.5rem;
}
.button {
    background: #671F75;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 0.5rem;
}