.screen {
	padding: 0 2rem;
	min-height: 100%;
	width: 100%;
}
.label {
    font-size: 0.75rem;
}
.input {
    border-color: transparent;
    border-radius: 0;
    display: block;
    flex: 1;
    font-size: 1rem;
    height: 4rem;
    width: 100%;
}
.input:focus {
    border-color: #108CCF;
    color: #333;
}
.inputContainer {
    width: 100%;
}
.buttonContainer {
    display: flex;
}
.button {
    background: purple;
    border: none;
    color: white;
    flex: 1;
    margin: 0;
    padding: .5rem;
}
.button:disabled {
    background: #b298b2;
}
.prompt {
    background: white;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    font-size: 1.1rem;
    margin: 1rem 0;
    padding: .25rem;
}
.prompt p {
    margin: .5rem 0;
}
